<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
<meta name="format-detection" content="telephone=no" />
<title>{sort:title}</title>
<meta name="keywords" content="{sort:keywords}">
<meta name="description" content="{sort:description}">
<link href="{pboot:sitedomain}/m/skin/css/style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/m/skin/css/common.css" rel="stylesheet">
<script src="{pboot:sitedomain}/m/skin/js/autofontsize.min.js"></script>
<script src="{pboot:sitedomain}/m/skin/js/jquery.js"></script>
<script src="{pboot:sitedomain}/m/skin/js/clipboard.min.js"></script>
<script src="{pboot:sitedomain}/m/skin/js/common.js"></script>
</head>
<body>
{include file=head.html} 
<!--位置开始--> 
{include file=left.html} 
<!--位置结束--> 
<!--产品列表开始-->
<section class="wrapper">
  <div class="productlist">
    <ul class="list-loop list clearfix">
      {pboot:list num=10 order=sorting}
      <li class="loop item"><a href="[list:link]" title="[list:title]">
        <figure><img src="[list:ico]" alt="[list:title]"></figure>
        <h3 >[list:title]</h3>
        </a></li>
      {/pboot:list}
    </ul>
    {include file=page.html}
  </div>
</section>

<!--产品列表结束--> 
{include file=foot.html}
</body>
</html>